[Unit]
Description=Apache Kafka Service
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/kafka
ExecStart=/opt/kafka/kafka_2.12-2.0.1/bin/kafka-server-start.sh /opt/kafka/kafka_2.12-2.0.1/config/server.properties
Restart=on-failure

[Install]
WantedBy=multi-user.target
